<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
<!-- FontAwesome CDN fallback -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>

{% if page.extra_css %}
  <link rel="stylesheet" href="{{ page.extra_css | absolute_url }}">
{% endif %}